.content {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    height: 150px;
    width: 100%;
    display: block;
  }
  
  h5 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .text-muted {
    font-style: italic;
    color: gray;
  }
  
  .button-container {
    text-align: center;
  }
  
  .btn {
    display: inline-block;
  }
  
  