{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'ytspamapp/styles.css' %}">
</head>
<body>
  <div class="content">
    <h2>YouTube Comment Spam Classifier</h2>
    <p>Please enter the text of the YouTube comment you want to classify:</p>

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <textarea id="text" name="text" class="form-control" placeholder="Enter comment text here" required></textarea>
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-primary">Classify</button>
      </div>
    </form>

    <div class="mt-3">
      <h5>Classification:</h5>
      {% if classification %}
    <p class="classification-result">{{ classification }}</p>
  {% else %}
    <p class="classification-result">Enter a comment to see its classification.</p>
  {% endif %}
    </div>
  </div>
</body>
</html>

